#avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#banner{
    border: 5px double darkred;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post{
    border: 1px dashed darkgray;
    background-color: white;
    color: black;
    width: fit-content;
    display: block;
    max-width: 80%;
    min-width: 25%;
    word-wrap: break-word;
    margin-left: 10px;
    margin-bottom: 10px;
}

.img{
    border: 3px double black;
    max-width: 650px;
    max-height: 730px;
    cursor: pointer;
}

.post_username{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.post_username:visited{
    text-decoration: none;
    color: black;
}

.innerPost{
    margin: 5px;
}



iframe{
    display: block;
}

body{
    background-image: url(https://zhalyra.files.wordpress.com/2011/04/vampires-stars-sparkle-animation.gif);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.signatureDiv_signature{
    margin-left: 5px;
    font-size: 10px;
}


@media (max-width: 650px) {
        iframe{
            display: none;
        }
}

#insulto{
    display: none;
}

.postear{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}


.postear > *{
    display: block;
}

.fixed{
    position: fixed;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
}

.fixed_hidden{
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-end;
}

.fixed_visible > a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

#hideMenu, #showMenu{
    margin-top: 3px;
}



.fixed_menu{
    display: none;
    justify-content: flex-end;
    width: 100%;
}

.fixed_menu > *{
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 24px;
}

.settings{
    display: none;
}

#banear{
    font-size: 96px;
}

.vidimg{
    width: 300px;
    height: 250px;
}

#videoContainer{
    text-align: center;
}

.video{
    display: inline-table;
    margin: 20px;
    text-align: center;
}

.sauce{
    display: inline-table;
}

.badges > *{
    width: 25px;
    height: 25px;
}

.iterator > *{
    font-size: 26px;
}

.descarga{
    text-decoration: none;
    color: #AAAAAA;
    background-color: #0000AA
}

.descarga:hover{
    background-color: #B30002;
    color: #A0A037;
}

.post-friend{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Fire02.jpg');
    color: white;
    border: 1px dashed darkgray;
    width: fit-content;
    display: block;
    max-width: 80%;
    min-width: 25%;
    word-wrap: break-word;
    margin-left: 10px;
    margin-bottom: 10px;
}

.post-friend > .innerPost > .post_username{
    color: white;
}

/* .post_content{
    white-space: pre-line;
} */

.post_paragraph{
    margin: 0;
}